  .card-wrap {
    perspective: 1400px;
    position: relative;
    z-index: 1;
  }

  /* ===== Front Card ===== */

  .card {
    width: 100%;
    aspect-ratio: 3/4;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 16px;
    cursor: pointer;
    transition:
      transform 0.7s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.7s cubic-bezier(0.4, 0, 0.2, 1),
      height 0.7s cubic-bezier(0.4, 0, 0.2, 1),
      top 0.7s cubic-bezier(0.4, 0, 0.2, 1),
      left 0.7s cubic-bezier(0.4, 0, 0.2, 1),
      scale 350ms ease,
      opacity 350ms linear;
  }

  .card :not(:hover) {
    transform: scale(0.98);
    opacity: 0.8;
  }

  .card :hover {
    transform: scale(1.06);
    opacity: 1;
  }

  .face {
    position: absolute;
    inset: 0;
    border-radius: 16px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    
  }

  .front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }

  .f-img {
    aspect-ratio: 1;
    object-fit: contain;
    image-rendering: pixelated;
  }

  .f-img:hover {
    width: 100%;
  }

  .f-name {
    font-size: 13px;
    font-weight: 500;
    color: #1a1a1a;
    text-transform: capitalize;
    letter-spacing: 0.02em;
  }

  /* ===== Back Card ===== */

 .b-card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 16px;
  background: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
  overflow: hidden;
  cursor: pointer;
}

 
  .b-accent {
    width: 100%;
    height: 50px;
    border-radius: 16px 16px 0 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-num {
    font-size: 11px;
    font-weight: 500;
    color: #888;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
  }

  .b-img {
    width: 90%;
    aspect-ratio: 1;
    object-fit: contain;
    image-rendering: pixelated;
    margin-bottom: 10px;
  }

  .b-name {
    font-size: 18px;
    font-weight: 500;
    color: #1a1a1a;
    text-transform: capitalize;
    margin-bottom: 14px;
  }

  .b-types {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .b-type {
    font-size: 12px;
    font-weight: 500;
    padding: 4px 14px;
    border-radius: 20px;
  }



  /* ===== Ghost Loading States ===== */

  .ghost {
    visibility: hidden;
  }

  @keyframes pulse {

    0%,
    100% {
      opacity: 1
    }

    50% {
      opacity: 0.5
    }
  }