  .header {
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    margin: 32px;
  }

  .header__logo {
    max-width: 100%;
    object-position: center;
    image-rendering:auto;
    margin-bottom: 12px;
  }