  .header {
    width: 100%;
    background-color: rgba(218, 97, 97, 0.8);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 0% 0% 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .header__logo {
    max-width: 100%;
    object-position: center;
    image-rendering:auto;
  }