  .scene {
    width: 100%;
    
    position: relative;
    min-height: 500px;
    perspective: 1400px;
    overflow: hidden;
    margin: 100px auto;
    padding: 32px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 16px;
  }

@media screen and (max-width: 850px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
}